# Python stuff
__pycache__/
*.py[cod]
*.pyc
test_anthropic.py

# Build folders
build/
dist/
Output/
logs/
*.spec

# Personal / Local Data
config.json
cookies.txt
*.mp4
*.mp3
*.txt
*.ini   
*.iss
*.zip
*.log

# External Executables
*.exe

# Configuration and API Keys (CRITICAL)
config.json

# Logs
app_crash_log.txt
logs/auto_scheduler.log
